*{
    box-sizing: border-box;
}

header{
    height: 200px;
}

.meme-editor{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: burlywood;
}

canvas{
    display: block;
    margin: 0 auto;
    /* outline: 1px solid black; */
    background-color: white;
}

.opened{
    display: block;
}

.btn-close-editor{
    position: absolute;
    top: 0%;
    right: 0%;
}