*{
    box-sizing: border-box;
}




.container{
    text-align: center;
    display: grid;
    justify-items: center;
    grid-template-rows: 200px 100px 1fr 200px  ;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "search-bar"
    "main"
    "footer" ;
}
header{
    grid-area: header;
    height: 200px;
    width: 100%;
    background-color: slategrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-inner-container{
    display: flex;
    justify-content: space-between;
}
.search-bar{
    width: 100%;
    grid-area: search-bar;
    background-color: springgreen;
    display: flex;
    align-items: center;
}

.search-bar .keywords>*:not(button) {
    padding-left: 10px;
    color: red;
}
.search-bar .keywords span:nth-child(even){
    display: none;
}
.search-bar .keywords span.reveal{
    display: inline;
}

main{
    grid-area: main;

}
.img-gallery{
    display: grid;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-rows: repeat(4,200px);  ;
    grid-template-columns: repeat(6,200px);
}
.img-gallery>*{
    width: 100%;
    grid-row: span 1;
    grid-column: span 1;
}

footer{
    width: 100%;
    grid-area: footer;
    background-color: slategray;
}


.meme-editor{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: burlywood;
}

.editor-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.control-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

canvas{
    display: block;
    margin: 0;
    background-color: white;
}

.opened{
    display: block;
}

.btn-close-editor{
    position: absolute;
    top: 0%;
    right: 0%;
}

.lower-text{
    visibility: hidden;
}